.dashboard-page {
    width: 95%;
    margin: auto;
    .search-bar {
        input {
            width: 60%;
            height: 26px;
            padding: 7px;
            margin: auto;
            border: 0.7px solid gray;
            border-radius: 5px;
        }
    }
    .dashboard-widgets {
        display: flex;
        flex-wrap: wrap;
        .widget {
            width: 15rem;
            height: 8rem;
            border: 1px solid green;
            width: 400px;
            height: 250px;
            margin: 10px;
        }
    }
}